*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.carouselBox{
    border: 2px solid gray;
    border-radius: 5px;
    width: 1400px;
    height: auto;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    position: absolute;
    top: 90%;
    right: 10%;
    box-shadow: 0px 10px 40px 10px rgba(0,0,0,0.9);
}

.btnIcon{
    width: 20px;
    height: 20px;
    object-fit: contain;
    margin-top: 6em;
    
}

.imgCollection{
    width: 300px;
    height: 300px;
}

