*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainFooter{
    position: absolute;
    top: 455%;
    width: 50em;
    left: 25%;
  
}

th{
    width: 25em;
    text-align: justify;
}

td{
    text-align: justify;

}