*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.galleryBox{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    position: absolute;
    top: 300%;
    padding: -20px;
}

.productBox{
    border: 2px solid #c6c6c5;
}

.text{
    font-family: 'Lato', sans-serif;
}
