*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color1: #8bc34a;
    --color2: #757575;
    --color3: gainsboro;
    --color4: green;
    --color5: black;
}

.headerBox{
    border: 1px solid var(--color3);
    display: flex;
    justify-content: space-around;
    height: 60px;
    width: auto;
}

.titleBox{
    margin-right: 10em;
}

.searchBar .searchButton{
    font-family: 'Lato', sans-serif;
}


.searchButton{
    border: 5px solid var(--color2);
    background-color: var(--color1);
    width: 100px;
    margin-top: 10px;
}

.searchBar{
    height: 25px;
    width: 375px;
}

.navbarBox{
    display: grid;
    grid-template-columns: repeat(9, 15em);
    font-size: 10px;
    background-color: var(--color3);
    border: 5px solid var(--color3);
    padding-left: 7.5em;
}

.optionButton{
    width: 50%;
    height: auto;
    border: none;
    color: var(--color5);
    font-family: 'Lato', sans-serif;


}
.optionButton:hover{
    border: 2px solid var(--color4);
}


.btnUP{
    width: 125px;
    height: 30px;
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 6px;
    font-family: 'Lato', sans-serif;
    margin-left: 20px;
}

.botonBox{
    padding-top: 10px;
    padding-right: 10px;
    margin-right: 20px;
}

.iconBoton{
    padding-top: 10px;
}

.imgLogo{
    padding-left: 2em;
}