*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainBox1{
    width: 1500px;
    height: auto;
    position: absolute;
    top: 135%;
    left: 16.5%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}


.dataBox{
    border: 1px solid black;
    width:350px;
    height: 350px;
    margin-top: 35px;
    position: relative;
    right: 43%;
    margin-right: 20px;
    animation-duration: 4s
}
.text{
    font-family: 'Lato', sans-serif;
}

.imgItem{
    height:200px;
    width:200px;
   
}

.btnOption{
font-size: 15px;
margin-top: 20px;

}

.btnRight{
    width: 20px;
    height: 20px;
}